# Frontend environment variables

# Discord OAuth
VITE_DISCORD_CLIENT_ID=votre_client_id
VITE_DISCORD_REDIRECT_URI=http://localhost:5173/auth/callback

# RapidAPI (The Sneaker Database)
VITE_RAPIDAPI_KEY=votre_clé_api

# Backend API URL
VITE_API_URL=http://localhost:3001
